<% include partials/header %>
<div class="main">

    <div class="container h-100">

        <div class="row h-100 justify-content-center align-items-center">

            <form action="/" method="POST" class="col-12 col-sm-12 col-md-6">
               
                    <img class="logo mx-auto d-block" src="/img/logo.png"/>

                <div class="typewriter">
                    <h1>Welcome Mountaineer!</h1>
                </div>

                    <div class="form-row">
                        <div class="form-group col-12 col-sm-12 col-md-6">
                                <label for="formName">What can we call you?</label>
                                <input required type="text" class="form-control" name="formName" placeholder="First Name">
                        </div>
                        
                        <div class="form-group col-12 col-sm-12 col-md-6">
                                <label for="formLastName">What's your last name?</label>
                                <input required type="text" class="form-control" name="formLastName" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="form-group">
                            <label for="formEmail">Whats your electric address?</label>
                            <input required type="email" class="form-control" name="formEmail" placeholder="example@example.com">
                    </div>           

                    <div class="form-group">
                        <label for="formPass">Your super secret, secret!</label>
                        <input required type="password" class="form-control" name="formPass" placeholder="Password">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12 col-sm-12 col-md-6">
                                <label for="formGroupExampleInput2">First Day on earth? (Birthday)</label>
                                <input name="date" id="datepicker" />
                        </div>

                        <div class="form-group col-12 col-sm-12 col-md-6">
                            <p><kbd>Hello</kbd>, we need you to let us know your birthday. Why? Well we might spoil you that day <kbd>please let us know</kbd> it's important.</p>
                        </div>
                    </div>

                    <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">Submit</button>
                    </div>
            </form>   

        </div>
    </div>
</div>

<% include partials/footer %>