/*Custom styles*/
body{
    background: transparent url("/img/mountains3.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: monospace;
    font-size: 1rem;
}

.main{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%; 
}

.logo{
    width: 50%;
}

form{
    color: #fff;
}

/* typewriter styles */

.typewriter {
    width: 455px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.typewriter h1 {
    font-family: monospace;
    font-size: 2.5em;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    clear: both;
    animation: 
      typing 3s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }


  /*Reset chromes annoying yellow autocomplete*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #495057;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/*input css*/
input[type]
{
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

kbd {
    padding: .1rem 0rem;
    color: orange;
    background-color: transparent!IMPORTANT;

}


/*Bootstrap overides*/
.btn-primary {
    color: #fff;
    background-color: orange;
    border-color: transparent;
    border: 2px solid transparent;
    border-radius: unset;
}

.btn-primary:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: unset;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0)!IMPORTANT;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

/*Datepicker overides*/
.gj-datepicker-bootstrap [role=right-icon] button {
    color: #fff;
    background: orange;
}

.gj-datepicker-bootstrap [role=right-icon] button:hover {
    color: #fff;
    background-color: transparent;
}


/*Responsive CSS*/

@media screen and (max-width: 990px) {
    .typewriter {
        width: 330px;
    }
    
    .typewriter h1 {
        font-size: 1.8em;
      }
  }

  @media screen and (max-width: 768px) {
    .typewriter {
        width: 240px;
    }
    
    .typewriter h1 {
        font-size: 1.3em;
      }
  }